<p>Hola {{ name }},</p>
<p>te invito a que escribas tu experiencia sobre {{ question.title }}.</p>
<p><a href="{{ url('mad_experience_answer_question', {questionId: question.id}) }}">Responder sobre mi experiencia</a></p>