{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block title %}La investigación | Mujeres Artistas Docentes{% endblock %}

{% block header %}
    <div class="row-fluid investigation-header">
        <div class="span12"><div class="only-text"><h1 class="">Sobre la investigación</h1></div></div>
    </div>
{% endblock header %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h2>Teorías Feministas</h2>
        <h3>¿Qué son las teorías feministas y por qué las utilizo en mi investigación?</h3>
        <p>Antes que nada quiero contarles que cuando alguien me pregunta ¿de qué trata tu investigación?, lo primero que viene a mi mente es “mujeres artistas-docentes”. A pesar de ello,  para que una investigación posea un enfoque feminista no sólo basta con que investigue a mujeres, ya que existen otras particularidades que también pueden determinar que sea o no una investigación feminista. Mi investigación posee múltiples cualidades que la dotan como una investigación de tipo feminista, pero no es el momento para hablarles de ello. Por ende, debido a que mi investigación se pregunta primordialmente por la vida de mujeres, les cuento de manera resumida qué son las teorías feministas y cuáles son su lugar en mi investigación.</p>
        <p>Las teorías feministas surgieron con fuerza en los años 60´, a raíz de conflictos políticos, económicos y sociales en Estados Unidos. A partir de estos sucesos las mujeres comenzaron a cuestionar su papel dentro de la sociedad y hablar entre ellas sobre sus experiencias como mujeres. Desde estas conversaciones, que cuestionaban su realidad impuesta como `mujer-femenina´, buscaron nuevas formas para develar y comprender sus experiencias. Tras estos cuestionamientos comenzaron a surgir diversas teorías lideradas por académicas feministas, quienes buscaban comprender,  ¿cómo las mujeres han sido descalificadas y cómo han construido su género?, para liberar la noción de Mujer de los prejuicios y supuestos culturalmente impuestos.</p>
        <p>A partir de aquí se generaron diversas teorías (feminismo liberal, marxista, radical, psicoanalítico, socialista, existencialista, negro, lésbico, postmoderno, entre otros) las cuales si bien tenían como objetivos comunes, liberar a la mujer de su condición impuesta, cada corriente se enfocó desde diversas  estrategias y pensamientos.</p>
        <p>En mi investigación me sitúo particularmente en el feminismo posmoderno. Este surgió en los años 80´ y rechazaba las teorías que afirmaban que los individuos somos conformados como sujetos desde una identidad unitaria y generalizada, que es dada o impuesta. Desde esta postura, esta teoría critica fuertemente los discursos sociales que nos rodean, influencian y construyen. Busca revisar lo femenino y abrir espacios que permitan deconstruir y desencializar el concepto de mujer y sus esencias previamente fijadas, para dar cabida a la subjetividad. Desde esta línea, este pensamiento se enfoca en la voz, la representación y los textos como discursos, para sostener que nos conformamos desde múltiples narrativas y en constante flujo (Munro, 1998).</p>
        <p>Como ven, en mi investigación no me centro en las teorías feministas sólo para visibilizar y reivindicar voces femeninas o para exigir igualdad de derechos.  Más bien porque estas teorías me ayudan a comprender qué significa e implica realizar una investigación que surge desde la experiencia de una mujer que busca explorar otras experiencias femeninas. En este sentido la noción de experiencia es clave en mi investigación y a través de las corrientes feministas he comprendido la importancia que estas teorías han otorgado a la noción de experiencia, como supuesto epistemológico y ontológico. Cuando refiero a la experiencia como supuesto epistemológico señalo que la experiencia es una forma de saber y conocer el mundo. Por su parte, cuando aludo a la experiencia como supuesto ontológico apunto a que ese conocer deviene de la propia experiencia de las personas. Con respecto a ello, muchas investigadoras feministas proponen utilizar las experiencias de las mujeres como una fuente de saber, ya que el conocimiento no sólo se inicia desde la base de nuestras diversas experiencias como mujeres, sino que está arraigado a ella. Así mismo, nos llaman a reflexionar y cuestionar nuestras experiencias, para poder comprender desde éstas, cómo las estructuras de poder han influido e intervenido en nuestras formas de comprendernos como mujeres en la sociedad.</p>
        <p>Finalmente he comprendido que investigar y comprender la experiencia vivida de las mujeres, desde estas teorías, significa comprender que nuestra identidad se conforma diariamente desde las `intersecciones de nuestras diversas experiencias´ (Braidotti, 2004), ya que somos subjetividades múltiples, siempre abiertas, interconectadas y en constante proceso.</p>

        <div class="references well">
            <h4>Referencias</h4>
            <ul>
                <li>Braidotti, R. (2004) Feminismo, Diferencia sexual y Subjetividad Nómade. Barcelona: Gedisa.</li>
                <li>Munro, P.  (1998) Subjetc to Fiction. Women Teachers`Life History Narratives and the Cultural Politics of Resistance. Philadelphia: Open University Press.</li>
                <li>Stanley, L., Wise, S. (2002) Breaking out again. Feminist Ontology and Epistemology. New York: Routledge.</li>
                <li>Weiner, G. (1999) Los Feminismos en la Educación. Ideología, Pensamiento y Educación. Sevilla: MCEP</li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}