{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block title %}La investigación | Mujeres Artistas Docentes{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="{{ path('mad_experience_homepage') }}">Mi espacio</a> <span class="divider">/</span></li>
            <li><a href="{{ path('mad_experience_investigation_index') }}">Investigación</a> <span class="divider">/</span></li>
            <li class="active">La Narrativa</li>
        </ul>
    </div>
    <div class="span12">
        <h2>La Narrativa</h2>
        <h3>¿Qué significa narrar-nos y cuál es su importancia en mi investigación?</h3>
        <p>Todos tenemos muchas historias que contar. Como seres humanos, somos seres historiados y nos conformamos desde los relatos de experiencia que construimos y contamos sobre nuestra vida (Clandinin & Connelly, 1990, 1995, 2000). Otra cosa, es que nos atrevamos a contarlas o que encontremos ese espacio de confianza que nos invite a revelarlas y compartirlas con otros. Vivir implica un constante tránsito entre construir y re-construir nuestras historias y relatos con otros. Vivimos cargados de experiencias, todas las vivencias que experimentamos se transforman en historias que, de alguna u otra manera nos traspasan, hacen transitar, van moldeando y conformando día a día nuestra identidad. Además, si inevitable e indudablemente nuestras historias  son particulares, subjetivas, y por ende nos pertenecen (como experiencias vividas de manera única), es que entonces existen muchas y diversas maneras de contarlas y compartirlas, conforme a quiénes somos y al lugar desde dónde nos situamos. Como investigadora me intereso y pregunto por el significado de contar nuestras experiencias. Relatar las historias que nos conforman significa narrar-nos.</p>
        <p>En este sentido, comprendo a la narrativa como un <strong>potencial que nos permite organizar, dar coherencia y significado a las experiencias que vivimos</strong>. Es importante aclararles que en mi investigación no pretendo utilizar a la narrativa como una simple forma de describir, ordenar y caracterizar lo que observe en el trabajo de campo en Chile. Sino que también como <strong>una forma de mediar las experiencias, ya que la narrativa nos posibilita comunicarnos con otros y mantenernos en relación. La narrativa es una manera de abrir y compartir nuestras vidas, para mostrar quiénes somos</strong>. A partir de todo esto, la narrativa se me presenta como una reconstrucción particular y consciente de la experiencia, la que mediante nuestro proceso reflexivo <strong>da significado a lo vivido y nos permite configurar la construcción social de nuestra realidad</strong> (Bolívar, 2002).</p>
        <p>Desde este interés por la narrativa como método para conocernos, para mí es fundamental preguntarme <strong>¿qué significa para ustedes relatar sus propias experiencias?</strong> Busco abrir un espacio de re-interpretación desde la narrativa y el acto de relatarse, como estrategias que permiten dar nuevos significados a nuestras experiencias (Bruner, 2004; Candinin y Conelly, 1990, 1994, 1995, 2000; Goodson, 2010).</p>
        <p>Este espacio narrativo permitirá reflexionar cómo van conformando constantemente sus identidades, desde el tránsito entre sus roles como artistas y docentes. La noción de identidad será abordada desde el proceso narrativo de contarse y cómo desde este acto reflexivo vamos conformando nuestra identidad personal y concepto del yo (Somers, 1994; Soreide, 2007; Clandinin et al, 2006).</p>

        <div>
            <h4>Referencias</h4>
            <ul>
                <li>Bolívar, A. (2002). “¿De nobis ipsis silemus?”: Epistemología de la investigación biográfico-narrativa en educación. Revista Electrónica de Investigación Educativa, Vol. 4, No. 1, 1-26. </li>
                <li>Bruner, J (2004) Life as Narrative. Social Research. Vol.  71, No. 3, 691-710.</li>
                <li>Clandinin, J., Huber, J., Huber, M., Murphy, S., Murray A., Pearce, M., et al. (2006) Composing Diverse Identities Narrative inquiries into the interwoven lives of children and teachers. New York: Routledge.</li>
                <li>Clandinin, J. & Connelly, M. (1990) Stories of experience and Narrative Inquiry. Educational Researcher. Vol. 19, No. 5, 2-14.</li>
                <li>Clandinin, J. & Connelly, M. (1994) Teachers telling stories. Teacher Education Quarterly. Vol. 21, No. 1 , 145-158.</li>
                <li>Clandinin, J., & Connelly, M. (1995) Relatos de experiencia e investigación narrativa. En Larrosa (Ed) Déjame que te cuente. Ensayos sobre narrativa y educación. (pp. 11-59) Barcelona: Laertes.</li>
                <li>Clandinin, J. & Connelly, M. (2000) Narrative inquiry: experience and story in qualitative research. California: Jossey-Bass.</li>
                <li>Goodson, I. (2010) Narrative Learning. New York: Routledge.</li>
                <li>Somers, M (1994) The narrative constitution of identity: A relational and network approach. Theory and Society. Netherlands: Kluwer Academic Publishers. 23: 605-649.</li>
                <li>Søreide, E. (2007) Narrative construction of teacher identity. Narrative construction of teacher identity. Disertación para el grado de doctor en filosofía. Departmento de Educación y promoción de la salud. Facultad de Psicología,  Universidad de Bergen, Noruega.</li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}