{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block title %}La investigación | Mujeres Artistas Docentes{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="{{ path('mad_experience_homepage') }}">Mi espacio</a> <span class="divider">/</span></li>
            <li><a href="{{ path('mad_experience_investigation_index') }}">Investigación</a> <span class="divider">/</span></li>
            <li class="active">Proyecto de Investigación</li>
        </ul>
    </div>
    <div class="span12">
        <h2>Proyecto de Investigación</h2>

        <ol>
            <li><a href="#introduccion">Introducción</a></li>
            <li><a href="#objetivos">Objectivos</a></li>
            <li><a href="#justificacion">Justificación del proyecto</a></li>
            <li><a href="#teorias">Autores, temas y teorías que acompañan estos cuestionamientos</a></li>
            <li><a href="#justificacion">Justificación del proyecto</a></li>
            <li><a href="metodologia">Metodología</a></li>
            <li><a href="bibliografia">Referentes bibliográficos</a></li>
        </ol>

        <h3 id="introduccion">Introducción</h3>
        <p>Esta investigación surgió cuando retomé mi experiencia y comencé a reflexionar sobre las dudas, tensiones y contradicciones que experimenté durante mi práctica como mujer artista y docente en Chile.  A partir de ello coloco mi experiencia como un lugar de partida y de origen para comprender, desde otras mujeres chilenas, artistas y docentes, cómo  logran hacer sus tránsitos entre la práctica artística y docente, y cargarlos de significado en su vida cotidiana. Busco recuperar sus experiencias desde relatos e historias, para generar un espacio abierto que permita comprender tanto a ellas como a otras profesoras de artes en Chile, cómo significan su práctica docente desde el compromiso artístico, y cómo conforman y negocian su identidad en este proceso. Es importante mencionar que utilizo la noción de tránsito para referirme como Mc Adams (2001), a ese recorrido de construir y re-construir nuestra identidad desde relatos. Por ende, si la experiencia de nuestras transiciones son construidas narrativamente, entonces en mi investigación la invitación a que otras mujeres puedan relatar y visibilizar sus maneras de transitar, entre su práctica artística y docente, busca abrir un espacio de posibilidad y de emancipación.</p>
        <p>Por otro lado, inicio mi investigación desde la convicción que el tránsito entre la práctica artística y docente son recorridos de experiencia y conocimiento que se articulan y construyen mutuamente. Este proceso me lleva a comprender la conformación de sus identidades como un recorrido dinámico y en constante re-construcción. Por ende, a partir de estos espacios de posibilidad busco comprender y visibilizar los diversos modos en cómo significan personal y socialmente sus propios recorridos.</p>
        <p>Finalmente deseo aclarar que mi búsqueda no desea pronosticar la existencia de una determinada forma de transitar como artista y docente. Por el contrario, como investigadora mujer situada desde un ámbito cualitativo, busco comprender y develar las diversas formas que coexisten en vivir estas experiencias como mujeres, para fomentar y visibilizar que el proceso de enseñanza es inacabado y se construye constantemente desde el entretejido de sus diversas experiencias. (Ellsworth , 2005)</p>


        <h3 id="objetivos">Objetivos</h3>
        <p>Como he descrito anteriormente, la investigación surge como una inquietud desde mi experiencia como artista y docente en Chile. Recuperaré las experiencias narradas de tres mujeres chilenas que, desde una formación artística, se desempeñen como profesoras de artes visuales en secundaria y desarrollen una práctica artística. Desde este contexto y de manera general busco:</p>
        <p><strong>Comprender la experiencia vivida y narrada de tres mujeres chilenas artistas-docentes, desde los tránsitos entre la práctica artística y docente.</strong></p>
        <p>Frente a este objetivo principal, el desarrollo de la reflexión desde el campo profesional y la práctica femenina de las artes y la enseñanza son ejes fundamentales que se entrecruzan. Por ello las cualidades reflexivas y narrativas serán claves, ya permitirán generar instancias de aprendizaje dialógico y colaborativo. Consideraré al proceso de narrar reflexivamente como una forma de generar conocimiento conectado a lo social.</p>
        <p>A partir de estos dos ejes desprendo cuatro <b>objetivos específicos</b>.</p>
        <p>En la línea de la reflexión sobre la experiencia como estrategia de desarrollo profesional busco,</p>
        <p><strong>1.  Comprender de qué manera el acto de narrar reflexivamente sus experiencias, devela cómo se perciben a sí mismas en sus recorridos cotidianos como mujeres artistas-docentes.</strong></p>
        <p>Para mí es fundamental preguntarme ¿qué significa para ellas relatar estas experiencias? Busco abrir un espacio de re-interpretación desde la narrativa y el acto de relatarse, como estrategias que permiten dar nuevos significados a nuestras experiencias (Bruner, 2004; Candinin y Conelly, 1990, 1994, 1995, 2000; Goodson, 2010).</p>
        <p>Este espacio narrativo permitirá reflexionar cómo van conformando constantemente sus identidades, desde el tránsito entre sus roles como artistas y docentes. La noción de identidad será abordada desde el proceso narrativo de contarse y cómo desde este acto reflexivo vamos conformando nuestra identidad personal y concepto del yo (Somers, 1994; Soreide, 2007; Clandinin et al, 2006).</p>
        <p><strong>2. Generar espacios de conocimiento compartido sobre la enseñanza artística, desde el diálogo y la escucha, a partir de la relación con el otro.</strong></p>
        <p><strong>3. Explorar los posicionamientos críticos del rol femenino en educación artística y las artes.</strong> Este objetivo busca comprender entre cuáles discursos y narrativas sociales e institucionales transitan (Somers, 1994), y a partir de qué discursos se comprenden y construyen como artistas y docentes, en la práctica cotidiana. Para ello recuperaremos sus experiencias de formación artística y docente y se pondrán en diálogo con los discursos y convenciones sociales sobre, mujer artista y mujer docente, que subyacen en estas narrativas.</p>
        <p><strong>4. Comprender de qué manera la práctica artística contribuye o no al desarrollo de la profesión docente y viceversa, de qué manera la práctica docente contribuye o no al desarrollo de la práctica artística.</strong> Desde este objetivo buscaré poner en diálogo sus experiencias artísticas y docentes, para indagar de qué manera se complementan y dan lugar a una nueva mirada o re-comprensión de la enseñanza artística</p>


        <h3 id="justificacion">Justificación del proyecto</h3>
        <p>La primera razón se vincula con lo que para mí significa tomar un campo marginado en las investigaciones chilenas, que me implica como mujer artista y docente. Desde esta posición es preocupante la escasa relevancia con que se ha problematizado la construcción de identidad de mujeres artistas-docentes. Además, no he encontrado investigaciones que visibilicen a la mujer chilena como artista, por lo que me sumo a las críticas de Montecino  (2008) e Iriarte y Ortega (2002), sobre la necesidad de incrementar investigaciones sobre estos fenómenos en Chile y Latinoamérica.</p>
        <p>Por otro lado, no he encontrado en nuestro país, investigaciones sobre la conformación de identidad docente desde una perspectiva de género. Indagando en el porqué de esta situación descubrí a través de Beatriz Ávalos1, que estos temas aún permanecen abiertos y pendientes por investigar. A su vez, las investigaciones que he revisado sobre identidad docente en Chile (Ávalos y Sotomayor 2012; Nuñez, 2004; Prieto, 2004; Álvarez, 2004), son realizadas desde un enfoque de investigación tradicional. Estas posiciones difieren de mi interés como investigadora, ya que no develan las particularidades o experiencias únicas de cada docente, ni priorizan estrategias narrativas.</p>
        <p>La segunda razón apunta a fomentar la visión `Artist-Teacher´ (Artista-Docente) que desarrollan programas e investigaciones en Inglaterra (Atkinson, 2011; Galloway, 2006; Adams, 2007). Éstos promueven la relación entre estas figuras, ya que acusan que debido a las diversas presiones y demandas de los colegios, los artistas que ingresan al ámbito educativo pierden contacto con su propia práctica, lo que no fomenta o motiva que éstos puedan enseñar desde su propia experiencia y contexto como artistas. Frente a ello, fomentan que los artistas que mantienen una práctica artística activa, no sólo son más efectivos en el aula sino que también se sienten más satisfechos con su trabajo (Atkinson, 2011). Desde estas propuestas comprendo a esta investigación cómo un espacio para contar cómo otras docentes de esta área generan el vínculo entre su práctica artística y docente, y cómo visibilizar éstas experiencias permitiría a otros y otras, autorizarse a realizarlas también. Desde las voces de estas mujeres podremos comprender cómo viven y significan estos tránsitos, cómo comprenden su práctica docente desde el aporte de su práctica artística y cómo conforman la visión que tienen sobre sí mismas y su trabajo cotidiano.</p>
        <p>Desde estas razones, visualizo a esta investigación como un aporte que desde nuevos enfoques de investigación (narrativo y de género), puede señalar no sólo otras formas de aprender, sino que también otra manera de acercarnos a la realidad docente en Chile.</p>


        <h3 id="teorias">Autores, temas y teorías que acompañan estos cuestionamientos</h3>
        <p>Debido a la extensión que podría tener este apartado si desarrollara cada uno de los temas, nociones y teorías bajo las enfoco mi investigación, en este momento sólo  nombraré y describiré brevemente los temas más importantes  junto con los autores desde dónde me sitúo.</p>

        <h4>La reflexión sobre la experiencia profesional docente.</h4>
        <p>Este tema está siendo desarrollado a partir de Dewey (1989), Schön D. (1998, 1992) y Valli (1993). Estos autores me han entregado una enriquecedora mirada sobre el significado y la importancia de la reflexión en la práctica docente, como un camino constante para reconstruir nuestro saber profesional.</p>

        <h4>La perspectiva feminista posmoderna.</h4>
        <p>Me acerqué a esta perspectiva para comprender, no el por qué deseo investigar a otras mujeres, sino más bien para entender qué significa e implica realizar una investigación que surja desde la experiencia de una mujer y que busca explorar otras experiencias femeninas. En esta larga búsqueda comprendí la importancia que estas teorías han otorgado a la noción de experiencia, como supuesto epistemológico y ontológico. Desde aquí reviso cómo estas aportaciones, especialmente el enfoque feminista posmoderno, han articulado y apropiado la noción de experiencia como base fundamental de sus investigaciones. Finalmente, señalo como las voces de otras investigadoras feministas se hacen presentes y son guías de primer orden en mi investigación, tanto por el cómo han orientado sus investigaciones sobre la experiencia de otras mujeres docentes, cómo por la manera que han desarrollado aspectos metodológicos, desde la investigación narrativa (Weiler, 1988; Casey, 1993; Acker, 1995; Munro, 1998; Smith, 2012).</p>

        <h4>La perspectiva narrativa e historias de vida.</h4>
        <p>Este tema es desarrollado en el apartado de metodología.</p>

        <h4>El desarrollo de la identidad profesional, desde la narrativa</h4>
        <p>Busco abrir un espacio de re-interpretación desde la narrativa y el acto de relatarse, como estrategias que permiten dar nuevos significados a nuestras experiencias (Bruner, 2004; Candinin y Conelly, 1990, 1994, 1995, 2000; Goodson, 2010). La noción de identidad será abordada desde el proceso narrativo de contarse y cómo desde este acto reflexivo vamos conformando nuestra identidad personal y concepto del yo (Somers, 1994; Soreide, 2007; Clandinin et al, 2006).</p>

        <h4>El lugar de la mujer en las artes visuales y en educación artística</h4>
        <p>Estos temas me permitirán poner en contexto los relatos personales que contaran las mujeres respecto a sus experiencias en las artes y la educación. Ambos temas están siendo revisados desde un enfoque feminista. Para comprender el rol de la mujer en las artes se está revisando principalmente a Collado (2007), Cordero, K., Sáenz, I. (2007), Moncetino y Valdés, entre otras. Respecto a la mujer en educación, principalmente me baso en autoras como Acker, S. (1995), Montecino S. y Rebolledo, L. (1995), Cortina y San Román (1998, 2006), entre otras.</p>

        <h4>Nociones de práctica docente y experiencias docentes</h4>
        <p>Este tema está siendo revisado desde un enfoque feminista sobre la educación. Para comprender la práctica docente me sitúo principalmente en comprender la noción de pedagogía feminista a través de Weiner, (1999), Belausteguigoitia y Mingo (1999), Luke y Gore (1992), Gore (1996), entre otras.</p>

        <h4>Nociones de práctica artística y experiencias artísticas</h4>
        <p>En proceso de revisión literaria.</p>

        <h3 id="metodologia">Metodología</h3>
        <p>Me acerqué a la investigación narrativa cuando comencé a desarrollar el master, “Artes Visuales y Educación: un enfoque Construccionista”, el año 2011 en la Universidad de Barcelona. Estas instancias de encuentro me permitieron comprender que vivimos vidas relatadas y que desde estas historias de experiencia, nos conformamos constante y mutuamente. Estos aspectos han sido cruciales para interesarme por este enfoque en mi vida personal, profesional y de investigación. A lo largo de este camino de aprendizaje, autores como Clandinin y Connelly  (1990, 1994, 1995, 2000), Bruner (1990, 2004), Bolivar, (2002, 2006), Polkinghorne (1988), entre otros, me han mostrado que investigar la experiencia desde este enfoque significa comprender a la narrativa como herramienta que nos ayuda a interpretar los significados de nuestras experiencias vividas, en y desde los relatos.</p>
        <p>A partir de este interés por la narrativa como método para conocernos, me centraré en los relatos que cuenten y narren tres mujeres artistas y docentes en Chile. A través de sus historias busco comprender cómo crean sentido personal, sobre los discursos sociales y culturales en donde sus relatos y experiencias están enraizadas (Bolivar, 2006.) Sus narrativas serán puertas o herramientas que permitirán comprender cómo los discursos hegemónicos se estructuran e influencian sus formas de comprenderse como mujeres artistas docentes. En este sentido, sus relatos no serán utilizados como una simple forma de describir, ordenar y caracterizar sus experiencias. Sino que también como una forma reflexionar y mediar sus prácticas, ya que la narrativa es una manera de abrir y compartir nuestras vidas para mostrar quiénes somos. A partir de todo esto, la narrativa se me presenta como una reconstrucción particular y consciente de la experiencia, la que mediante nuestro proceso reflexivo da significado a lo vivido y nos permite configurar la construcción social de nuestra realidad (Bolívar, 2002).</p>
        <p>Desde este interés por la narrativa construiré historias de vida de tres mujeres artistas y docentes en Chile. Tomando en cuenta que trabajaré con mujeres y docentes, es importante no olvidar que la perspectiva de historias de vida ha sido una metodología muy practicada en las investigaciones feministas y educativas. Por un lado, esta perspectiva cobró gran interés para las investigaciones feministas, como camino que permitió dar voz y visibilizó la vida de mujeres que habían sido ´escondidas y silenciadas` (Geiger, 1986; Munro, 1998; Casey, 1993; Middleton, 1993; Smith, 2012). Por otro lado, la perspectiva de historias de vida se posicionó en educación para comprender el `saber personal del docente´, desde la relación entre sus narrativas personales y biográficas con su contexto sociocultural, histórico e institucional (Hernández, 2011).  Este método de indagación permitió re-comprender la complejidad del rol docente y  valorarlo como un `agente activo que construye su propia historia´ (Goodson, 2004).</p>
        <p>A parte de estos aspectos, los estudios de historias de vida son una oportunidad para explorar la vida singular de las personas, enfocándose principalmente en los relatos y experiencias subjetivas (Munro, 1998; Smith, 2012). Además permite desde nuestras palabras comprender cómo los efectos de las estructuras sociales influyen en nuestras vidas, y cómo lidiamos con esas estructuras de poder para dar sentido a la realidad.</p>
        <p>A su vez remarco la importancia de este enfoque, como un método que permite estimular la reflexividad de las personas. Como señala Smith (2012), en el proceso de contar y narrar las historias las personas podemos  ir reflexionando sobre nuestras identidades y relaciones con el mundo social.</p>
        <p>Por otro lado tomo el aporte de esta perspectiva como un espacio que permite generar experiencias transformadoras (Smith, 2012). Nos entrega la posibilidad para comprender los discursos sociales en los que estamos situados y bajo los que actuamos, y también para entender cómo nosotros mismas generamos y articulamos nuestros propios discursos, decisiones y acciones. Pensar en mujeres que puedan hablar y narrar sus experiencias subjetivas, desde sus propias inquietudes y palabras, podría llevarnos hacia una profunda comprensión de las diversas y complejas relaciones que se generan entre sus decisiones y acciones diarias, como de la cultura y contexto en el que estos discursos coexisten. Develar estas historias son aportes para generar mayores comprensiones sociales, sobre cómo las mujeres se resisten frente a estos significados impuestos e interactúan dinámicamente para construir sus saber profesional (Munro, 1998).</p>
        <p>Por último soy consciente que construir historias de vidas es un proceso complejo que involucra diversas etapas. A través de Goodson (2001, 2005) he comprendido que el primer paso será construir los relatos de historia. Éstos, como `la vida contada por la persona´ (Goodson, 2008), surgirán desde la transformación de las experiencias de vida de las mujeres a experiencias que serán narradas y relatadas por ellas. Finalmente, el segundo paso será la re-interpretación y el nuevo relato que construiré, desde la triangulación de sus historias en relación con otros documentos, testimonios orales y cuestiones de poder político y social implícitas en la historia y contexto (Goodson, 2001,2005).</p>

        <h3 id="bibliografia">Referentes bibliográficos</h3>
        <ul>
            <li>Acker, S. (1995) Género y Educación. Reflexiones sociológicas sobre mujeres, enseñanza y feminismo. Narcea: Madrid.</li>
            <li>Adams, J. (2007) Artists becoming teachers: expressions of identity transformation in a virtual forum. International journal of art & design education. Vol. 26, No. 3, 264-273.</li>
            <li>Álvarez, F. (2004) Perfeccionamiento docente e identidad profesional. Revista Docencia, nº 24, Diciembre, 69-76.</li>
            <li>Atkinson, D. (2011) The artist-teacher. En  Atkinson, D . Art, equality and learning. Pedagogies against the State. (pp. 115-138)Netherlands: Sense Publishers.</li>
            <li>Ávalos, B., Sotomayor, C.  (2012) Cómo ven su identidad los docentes chilenos. Revista Perspectiva Educacional, Vol 51, n° 1. pp.77-95</li>
            <li>Belausteguigoitia, M., Mingo, A.  (1999) Géneros Prófugos. Feminismo y Educación. Buenos Aires: Paidós.</li>
            <li>Bolívar, A. (2002). “¿De nobis ipsis silemus?”: Epistemología de la investigación biográfico-narrativa en educación. Revista Electrónica de Investigación Educativa, Vol. 4, No. 1, 1-26.</li>
            <li>Bolívar, Antonio & Domingo, Jesús (2006). La investigación biográfica y narrativa en Iberoamérica: Campos de desarrollo y estado actual. Forum: Qualitative Social Research, Sozialforschung. Vol. 7, No. 4, Art. 12. http://nbn-resolving.de/urn:nbn:de:0114-fqs0604125.</li>
            <li>Bruner, J (2004) Life as Narrative. Social Research. Vol.  71, No. 3, 691-710.</li>
            <li>Casey, .K (1993) I Answer with My Life: Life Histories of Women Teachers Working for Social Change. London: Routledge.</li>
            <li>Clandinin, J. (2006) Narrative Inquiry: A Methodology for Studying Lived Experience. Research Studies in Music Education.  27: 44-54</li>
            <li>Clandinin, J., Huber, J., Huber, M., Murphy, S., Murray A., Pearce, M., et al. (2006) Composing Diverse Identities Narrative inquiries into the interwoven lives of children and teachers. New York: Routledge.</li>
            <li>Clandinin, J. (2007) Handbook of Narrative Inquiry. Mapping a Methodology. California: Sage.</li>
            <li>Clandinin, J. & Connelly, M. (1990) Stories of experience and Narrative Inquiry. Educational Researcher. Vol. 19, No. 5, 2-14.</li>
            <li>Clandinin, J. & Connelly, M. (1994) Teachers telling stories. Teacher Education Quarterly. Vol. 21, No. 1 , 145-158.</li>
            <li>Clandinin, J., & Connelly, M. (1995) Relatos de experiencia e investigación narrativa. En Larrosa (Ed) Déjame que te cuente. Ensayos sobre narrativa y educación. (pp. 11-59) Barcelona: Laertes.</li>
            <li>Clandinin, J. & Connelly, M. (2000) Narrative inquiry: experience and story in qualitative research. California : Jossey-Bass.</li>
            <li>Collado, A. (2007) “Perspectivas Feministas, en el arte actual”. Extracto de la conferencia dictada en el ciclo Genealogías del arte contemporáneo: 1968-2000, coordinada por Carles Guerra dentro del programa “Els juliols” de la Universitat de Barcelona, realizado durante el mes de julio de 1999.</li>
            <li>Cordero, K., Sáenz, I. (2007) Crítica feminista en la teoría e historia del arte. México: Universidad Iberoamericana.</li>
            <li>Cortina, R., San Román, S. (2006) Women and Teaching. Global Perspectives on the Feminization of a Profession. United States of America: PALGRAVE MACMILLAN.</li>
            <li>Dewey J. (1989) Cómo pensamos. Nueva exposición de la relación entre pensamiento reflexivo y proceso educativo. Barcelona: Paidós.</li>
            <li>Ellsworth, E. (2005) Posiciones en la Enseñanza. Diferencia, pedagogia y el poder de la direccionalidad. Madrid: AKAL.</li>
            <li>Galloway S. Stanley, J. Strand. S. (2006) Artist teacher scheme evaluation 2005-2006. Final report. Centre for Educational Development, Appraisal and Research (CEDAR)  University of Warwick. Corsham: NSEAD</li>
            <li>Geiger, S. (1986) Women´s Lifes Histories: Method and Context. Chicago Journals. Vol. 11, No. 2, 334-351.</li>
            <li>Goodson, I., Biesta, G., Tedder, M., Adair, N. (2005) Learning, Curriculim and Life Politics. The selected work of Ivor F. Goodson. New York: Routledge.</li>
            <li>Goodson, I. (2001) The Story of Life History: Origins of the Life History Method in Sociology. Identity: An International Journal of Theory and Research, Vol. 1, No 2, 129-142.</li>
            <li>Goodson, I. (2004) Historias de Vida del Profesorado. Barcelona: Octaedro</li>
            <li>Goodson, I. (2006) The Rise of the Life Narrative. Teacher Education Quarterly. Vol. 33, No. 4, 7-21.</li>
            <li>Goodson, I., Choi, P.K. (2008) Life History and Collective Memory as Methodological Strategies: Studying Teacher Professionalism. Teacher Education Quarterly, Spring 2008. 5-28.</li>
            <li>Goodson, I. (2010) Narrative Learning. New York: Routledge.</li>
            <li>Gore, J. (1996) Controversias entre las pedagogías. Discursos críticos y feministas como regímenes de verdad. Madrid: Morata.</li>
            <li>Hernández, F., Sancho, J., Rivas, J. (2011) Historias de Vida en Educación: Biografías en contexto.  Esbrina; 4.  http://hdl.handle.net/2445/15323</li>
            <li>Hernández F., Riffa, M. (2011) Investigación Narrativa y Cambio Social. Barcelona: Octaedro.</li>
            <li>Iriarte, M, Ortega, E. (2002) Espejos que dejan ver. Mujeres en las Artes Visuales Latinoaméricanas. Santiago: ISIS</li>
            <li>Luke, C., Gore, J. (1992) Feminism and critical pedagogy. Londres: Routledge.</li>
            <li>McAdams, D., Josselson, R., Lieblich, A. (2001) Turns in the Road. Narratives Studies of lives in transition. Washington, D.C. : American Psychological Association.</li>
            <li>Montecino, S. (2008) Mujeres Chilenas fragmentos de una historia. Santiago: Catalonia.</li>
            <li>Middleton, S. (1993) Educating feminists: life histories and pedagogy. New York : Teachers College Press.</li>
            <li>Munro, P.  (1998) Subjetc to Fiction. Women Teachers`Life History Narratives and the Cultural Politics of Resistance. Philadelphia: Open University Press.</li>
            <li>Núñez, I. (2004) La identidad de los docentes. Una mirada histórica en Chile. Revista Docencia, nº 23, Agosto, pp. 65-75</li>
            <li>Polkinghorne, D. (1988)  Narrative Knowing and the Human Sciences. New York: State University of New York Press.</li>
            <li>Prieto M. (2004) La construcción de la identidad profesional del docente: un desafío permanente. Revista enfoques educacionales. Vol 6, nº1, pp 29-49.</li>
            <li>Schön D. (1998) El profesional Reflexivo. Cómo piensan los profesionales cuando actúan. Barcelona: Paidós.</li>
            <li>Schön D. (1992) La formación de profesionales reflexivos. Hacia un nuevo diseño de la enseñanza y el aprendizaje en las profesiones. Barcelona: Paidós.</li>
            <li>Rojas, P. (2011) Una mirada a la Educación Artística desde el CNCA- Chile. Revista EDUCARTE nº 43, 2º semestre,  6-11.</li>
            <li>Smith, J. (2012) Reflections on using life history to investigate women teachers' and career decisions. Qualitative Research . Vol. 12, No 4, 486–503</li>
            <li>Somers, M (1994) The narrative constitution of identity: A relational and network approach. Theory and Society. Netherlands: Kluwer Academic Publishers. 23: 605-649.</li>
            <li>San Román, S. (1998) Las primeras maestras. Los orígenes del proceso de feminización docente en España. Barcelona: Ariel.</li>
            <li>Søreide, E. (2007) Narrative construction of teacher identity. Narrative construction of teacher identity. Disertación para el grado de doctor en filosofía. Departmento de Educación y promoción de la salud. Facultad de Psicología,  Universidad de Bergen, Noruega.</li>
            <li>Valli, L. (1993) Reflective Teacher Educator. Cases and Critics. New York: University of New York Press.</li>
            <li>Weiner, G. (1999) Los Feminismos en la Educación. Ideología, Pensamiento y Educación. Sevilla: MCEP</li>
            <li>Weiler, K (1988) Women Teaching for Change. Gender, class and Power. EE.UU: Garbey Publishers.</li>
        </ul>

    </div>
</div>

{% endblock content %}