<div class="row-fluid header forum-header">
    <div class="span4">
        <img src="{{ asset('bundles/madexperience/images/dani_small.jpg') }}" />
    </div>
    <div class="span8">
        <h1>Foro de reflexión y discusión</h1>
        <h3>"El conocimiento se genera en conjunto, a partir de las interacciones sociales y en comunidad".</h3>
    </div>
</div>