<div class="row header home-header">
    <div class="span4">
        <img src="{{ asset('bundles/madexperience/images/dani_small.jpg') }}" />
    </div>
    <div class="span8">
        <h1>¡Bienvenida a nuestra espacio de investigación!</h1>
    </div>
</div>