<div class="row-fluid header investigation-header">
    <div class="span4">
        <img src="{{ asset('bundles/madexperience/images/dani_small.jpg') }}" />
    </div>
    <div class="span8">
        <h1>Sobre la investigación</h1>
        <h3>"Profesoras de artes visuales en Chile.<br/>Comprender el tránsito entre la práctica artística y docente desde experiencias narrativas".</h3>
    </div>
</div>