<div class="row-fluid header home-header">
    <div class="span4">
        <img src="{{ asset('bundles/madexperience/images/dani_small.jpg') }}" />
    </div>
    <div class="span8">
        <h1>INVESTIGÁCIÓN DE DOCTORADO</h1>
        <h3>"Profesoras de Artes Visuales en Chile. Comprender el tránsito entre la práctica artística y docente desde experiencias narrativas."</h3>
    </div>
</div>