<div class="row header my-exp-header">
    <div class="span4">
        <img src="{{ asset('bundles/madexperience/images/dani_small.jpg') }}" />
    </div>
    <div class="span8">
        <h1>Escribir y compartir experiencias</h1>
        <h3>"Escribir es una forma de reflexionar, de contarnos a los otros y dar significado a lo que vivimos".</h3>
    </div>
</div>