<div class="row header shared-exp-header">
    <div class="span4">
        <img src="{{ asset('bundles/madexperience/images/dani_small.jpg') }}" />
    </div>
    <div class="span8">
        <h1>Ver experiencias compartidas</h1>
        <h3>"Intercambiar experiencias con otros nos permite reflexionar y ampliar el conocimiento de nuestras prácticas artísticas y docentes".</h3>
    </div>
</div>