{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block title %}Foro | Mujeres Artistas Docentes{% endblock title %}

{% block header %}
    {% include 'MADExperienceBundle:Headers:forum.html.twig' %}
{% endblock header %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <p>En construcción...</p>
    </div>
</div>

{% endblock content %}
