@font-face {
  font-family: 'lane';
  src: url("/bundles/madexperience/fonts/LANENAR_-webfont.eot");
  src: url("/bundles/madexperience/fonts/LANENAR_-webfont.eot?#iefix") format("embedded-opentype"), url("/bundles/madexperience/fonts/LANENAR_-webfont.woff") format("woff"), url("/bundles/madexperience/fonts/LANENAR_-webfont.ttf") format("truetype"), url("/bundles/madexperience/fonts/LANENAR_-webfont.svg#lane_-_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 34, assetic_compassYtWvHC.scss */
h1 {
  padding: .5em 0;
  font-size: 33px;
}

/* line 39, assetic_compassYtWvHC.scss */
h3 {
  font-size: 28px;
}

/* line 43, assetic_compassYtWvHC.scss */
h1, h2, h3 {
  font-family: "lane";
}

/* line 47, assetic_compassYtWvHC.scss */
.header {
  margin-bottom: 20px;
  text-align: center;
}
/* line 51, assetic_compassYtWvHC.scss */
.header h1 {
  font-family: "lane";
}
/* line 55, assetic_compassYtWvHC.scss */
.header h3 {
  font-family: "lane";
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
}

/* line 63, assetic_compassYtWvHC.scss */
.home-header {
  background: #d2d0d1;
}

/* line 67, assetic_compassYtWvHC.scss */
.neutral-box {
  padding: 15px;
}

/* line 71, assetic_compassYtWvHC.scss */
.my-exp-header {
  background: #e7d897;
}

/* line 75, assetic_compassYtWvHC.scss */
.my-exp {
  background-color: #e7d897;
}

/* line 79, assetic_compassYtWvHC.scss */
.my-exp:hover {
  background-color: #deca72;
}

/* line 83, assetic_compassYtWvHC.scss */
.shared-exp-header {
  background-color: #a4dfc3;
}

/* line 87, assetic_compassYtWvHC.scss */
.shared-exp {
  background-color: #a4dfc3;
}

/* line 91, assetic_compassYtWvHC.scss */
.shared-exp:hover {
  background-color: #82d3ad;
}

/* line 95, assetic_compassYtWvHC.scss */
.forum-header {
  background-color: #fdc39d;
}

/* line 99, assetic_compassYtWvHC.scss */
.forum {
  background-color: #fdc39d;
}

/* line 103, assetic_compassYtWvHC.scss */
.forum:hover {
  background-color: #fca770;
}

/* line 107, assetic_compassYtWvHC.scss */
.invest {
  background-color: #add9f4;
}

/* line 111, assetic_compassYtWvHC.scss */
.invest:hover {
  background-color: #85c6ef;
}

/* line 115, assetic_compassYtWvHC.scss */
.investigation-header {
  background-color: #add9f4;
}

/* line 119, assetic_compassYtWvHC.scss */
.neutral {
  background-color: #d2d0d1;
}

/* line 123, assetic_compassYtWvHC.scss */
.neutral:hover {
  background-color: #bcb9ba;
}

/* line 127, assetic_compassYtWvHC.scss */
.admin {
  background-color: #d2d0d1;
}

/* line 131, assetic_compassYtWvHC.scss */
.admin:hover {
  background-color: #bcb9ba;
}

/* line 135, assetic_compassYtWvHC.scss */
.home-intro {
  background-color: #d2d0d1;
  padding: 15px;
  text-align: center;
}
/* line 140, assetic_compassYtWvHC.scss */
.home-intro p {
  font-size: 20px;
  line-height: 27px;
}

/* line 146, assetic_compassYtWvHC.scss */
.general-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, assetic_compassYtWvHC.scss */
.home-menu ul {
  color: #000000;
  text-decoration: none;
  margin: 0;
  list-style: none;
}
/* line 17, assetic_compassYtWvHC.scss */
.home-menu ul li {
  margin: 0px 0px 16px 0;
}
/* line 19, assetic_compassYtWvHC.scss */
.home-menu ul li a {
  padding: 15px 15px 15px  25px;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}

/* line 162, assetic_compassYtWvHC.scss */
ul.shared-exp-list li h4 {
  font-family: "lane";
  margin-top: 28px;
}
/* line 167, assetic_compassYtWvHC.scss */
ul.shared-exp-list li ul {
  margin-left: 20px;
}
/* line 169, assetic_compassYtWvHC.scss */
ul.shared-exp-list li ul li {
  margin: 14px;
}

/* line 176, assetic_compassYtWvHC.scss */
.investigation-experiences {
  padding: 0;
  margin: 0;
}
/* line 181, assetic_compassYtWvHC.scss */
.investigation-experiences li {
  list-style: none;
  list-style-position: inside;
}
/* line 185, assetic_compassYtWvHC.scss */
.investigation-experiences li ul {
  margin-left: 0;
  margin-bottom: 20px;
}

/* line 12, assetic_compassYtWvHC.scss */
.subjects-main-list ul {
  color: #000000;
  text-decoration: none;
  margin: 0;
  list-style: none;
}
/* line 17, assetic_compassYtWvHC.scss */
.subjects-main-list ul li {
  margin: 0px 0px 16px 0;
}
/* line 19, assetic_compassYtWvHC.scss */
.subjects-main-list ul li a {
  padding: 15px 15px 15px  25px;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}

/* line 200, assetic_compassYtWvHC.scss */
.h3-button {
  margin-top: 13px;
}

/* line 204, assetic_compassYtWvHC.scss */
.only-text {
  width: 95%;
  margin: 0 auto;
}
/* line 208, assetic_compassYtWvHC.scss */
.only-text h1, .only-text a {
  display: inline-block;
}
/* line 212, assetic_compassYtWvHC.scss */
.only-text a {
  color: #222222;
  font-style: italic;
  font-size: 12px;
  text-decoration: underline;
}
/* line 219, assetic_compassYtWvHC.scss */
.only-text h1 {
  font-size: 20px;
  padding: 0;
}

/* line 12, assetic_compassYtWvHC.scss */
.questions-list ul {
  color: #000000;
  text-decoration: none;
  margin: 0;
  list-style: none;
}
/* line 17, assetic_compassYtWvHC.scss */
.questions-list ul li {
  margin: 0px 0px 16px 0;
}
/* line 19, assetic_compassYtWvHC.scss */
.questions-list ul li a {
  padding: 15px 15px 15px  25px;
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
}
/* line 230, assetic_compassYtWvHC.scss */
.questions-list ul li {
  padding: 15px 15px 15px 25px;
  font-size: 18px;
}
/* line 234, assetic_compassYtWvHC.scss */
.questions-list ul li a {
  display: inline;
  color: #ffffff;
  padding: inherit;
  padding: 4px 12px;
  font-size: 14px;
}
/* line 242, assetic_compassYtWvHC.scss */
.questions-list ul li span {
  line-height: 30px;
  display: block;
  font-size: 12px;
  font-style: italic;
}
/* line 248, assetic_compassYtWvHC.scss */
.questions-list ul li span a {
  font-size: 12px;
  display: inline;
  padding: 0;
  font-style: none;
  color: #0044cc;
}
/* line 256, assetic_compassYtWvHC.scss */
.questions-list ul li span a:hover {
  text-decoration: underline;
}
/* line 263, assetic_compassYtWvHC.scss */
.questions-list ul li:hover {
  background-color: #d2d0d1;
}

/* line 269, assetic_compassYtWvHC.scss */
.signature {
  font-size: 12px;
  margin-bottom: 20px;
  font-style: italic;
}

/* line 275, assetic_compassYtWvHC.scss */
.references {
  margin-top: 30px;
}
/* line 278, assetic_compassYtWvHC.scss */
.references ul {
  margin: 0;
}
/* line 281, assetic_compassYtWvHC.scss */
.references ul li {
  list-style: none;
  margin: 20px 0;
}

/* line 288, assetic_compassYtWvHC.scss */
.text-centered {
  text-align: center;
}

/* line 292, assetic_compassYtWvHC.scss */
.navbar-inverse .brand {
  color: #ffffff;
}

/* line 296, assetic_compassYtWvHC.scss */
.login-top-bar {
  margin-top: 20px;
}
/* line 298, assetic_compassYtWvHC.scss */
.login-top-bar div {
  width: 12.5%;
  height: 60px;
  float: left;
}
/* line 303, assetic_compassYtWvHC.scss */
.login-top-bar .title {
  font-family: "lane";
  text-align: center;
  background-color: #d2d0d1;
}
/* line 307, assetic_compassYtWvHC.scss */
.login-top-bar .title h1 {
  font-size: 25px;
  padding-top: 0px;
}

/* line 314, assetic_compassYtWvHC.scss */
.title-header {
  background-color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 318, assetic_compassYtWvHC.scss */
.title-header div {
  float: left;
  min-width: 5%;
  min-height: 100px;
  box-sizing: border-box;
}
/* line 324, assetic_compassYtWvHC.scss */
.title-header .cont {
  background-color: #d2d0d1;
}
/* line 327, assetic_compassYtWvHC.scss */
.title-header .title {
  width: 67%;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 332, assetic_compassYtWvHC.scss */
.title-header .title h3 {
  font-size: 18px;
  line-height: 25px;
}

/* line 339, assetic_compassYtWvHC.scss */
.login-signature {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  background-color: #d2d0d1;
  padding: 8px;
  text-align: center;
}
/* line 346, assetic_compassYtWvHC.scss */
.login-signature h1, .login-signature h2 {
  line-height: 17px;
  font-size: 13px;
  font-weight: bold;
  padding: 0;
}
/* line 353, assetic_compassYtWvHC.scss */
.login-signature p {
  font-size: 13px;
  font-family: "lane";
  margin: 0;
}

/* line 361, assetic_compassYtWvHC.scss */
.login-intro div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-family: "lane";
  background-color: #d2d0d1;
  padding: 17px;
  color: #000;
  line-height: 24px;
}
/* line 370, assetic_compassYtWvHC.scss */
.login-intro div p {
  margin: 0;
}

/* line 377, assetic_compassYtWvHC.scss */
.login-form .formu {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #d2d0d1;
  padding: 8px;
  width: 37.5%;
  float: left;
}
/* line 383, assetic_compassYtWvHC.scss */
.login-form .formu form {
  margin: 0;
}

/* line 389, assetic_compassYtWvHC.scss */
.know-more {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #d2d0d1;
  padding: 8px;
  width: 62.5%;
  text-align: center;
  float: left;
  margin-bottom: 20px;
}
/* line 397, assetic_compassYtWvHC.scss */
.know-more a {
  color: #000;
  font-family: "lane";
  font-size: 16px;
}
