{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block body %}
<ul>
    <li><a href="#">Información</a></li>
    <li><a href="#">Mis experiencias</a></li>
    <li><a href="#">Experiencias compartidas</a></li>
    <li><a href="#">Foro</a></li>

    {% if is_granted('ROLE_RESEARCHER') %}
    <li><a href="#" id="askExperiencesMenuOpt">Preguntar experiencias</a></li>
    {%  endif %}
</ul>
{% endblock body %}