{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block content %}
<ul>
    <li><a href="#">Información</a></li>
    <li><a href="{{ path('mad_experience_my_experiences') }}" id="myExperiencesMenuOpt">Mis experiencias</a></li>
    <li><a href="#">Experiencias compartidas</a></li>
    <li><a href="#">Foro</a></li>

    {% if is_granted('ROLE_RESEARCHER') %}
    <li><a href="{{ path('mad_experience_ask_experience') }}" id="askExperiencesMenuOpt">Preguntar experiencias</a></li>
    {%  endif %}
</ul>
{% endblock content %}