{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block body %}
    <h1>Mi Experiencias</h1>

    <div><a href="{{  path('mad_experience_write_experience') }}">Escribir una experiencia</a></div>

{% endblock body %}